#container-view-movie {
    display: grid;
    margin-bottom: 3rem;
    place-content: center;
    width: 20rem;
    height: auto;
}
#container-view-movie h1 {
    margin: 0 auto 1rem auto; ;
}

.container-descp{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}