* {
  margin: 0;
}

.body2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://i.postimg.cc/dVcNfbf1/Picsart-24-04-23-13-35-02-552.png') no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 9999;
  align-items: center;
}


.menu-container {
  background-color: black;  
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list-item {
  display: inline-block;
  padding: 10px 20px;
  position: relative; 
  color: white; 
  text-decoration: none;
  transition: color 0.3s ease; 
}

.menu-list-item:hover {
  color: orange; 
}

.menu-list-item.active{
  color: orange;
}

.menu-list-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: transparent; 
  transition: width 0.4s ease, background-color 0.4s ease; 
}


.menu-list-item:hover::after,
.menu-list-item.active::after {
  width: 100%; 
  background-color: orange; 
}


.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
  margin-right: 250px;
}

.logo {
  font-size: 30px;
  color: orange;
}

.icon-container{
  color: orange;
  font-size: 30px;
  margin-right: 10px;
}


.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.container h1 {
  background: linear-gradient(-1deg, orange, white);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: orange;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: orange;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: orange;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}



@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

.wrapper {
  width: 420px;
  background: white;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: black;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: black;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;
}

.form-perfil-edit-container{
  background-color: black;
  border-radius: .5cm;
  width: 70%;
  height: auto;
  padding: .9rem 0;
}
.form-perfil-edit-container button{
  font-size: 1.4rem;
}
.form-perfil-edit-container h1 {
  margin: 1rem 0;
  font-size: 2.4rem;
  text-align: center;
}
.account-settings-textfield{
  width: 90%;
  margin: .9rem auto;
  display: flex;
  gap: .8rem 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
}
.account-settings-textfield div span {
  display: flex;
  width: 40rem;
  gap: .8rem;
  justify-content: space-between;
}

.btn-edit-user{
  background-color: #e38f07;
  color: #fff;
  height: 2.5rem;
  width: 1.9rem;
  font-size: 1rem;
  border-radius: .6rem;
  border: none;
}
.field{
  width: 100%;
  padding: .9rem .5rem;
  border-radius: .5rem;
  font-size: 1.2rem;
}

.container-alert{
  width: 12rem;
  padding: .9rem 1em;
  position: absolute;
  text-align: center;
  border-radius: .4rem;
  display: none;
  background-color: #17bf3b;
  color: #fff;
  top: 4rem;
  right: -15rem;
}
.container-alert b{
  font-size: 1rem;
}
@keyframes showalert{
  0%{
    right: -15rem;
  }
  100%{
    right: 2rem;
  }
}

@keyframes hiddenalert{
  0%{
    right: 2rem;
  }
  100%{
    right: -15rem;
  }
}