<div class="container-cards">
    <div class="card-admin">
        <div class="card-info">
            <b>
                <%=lenUsers-1%>
            </b>
            <h1>USUARIOS</h1>
        </div>
    </div>
    <div class="card-admin">
        <div class="card-info">
            <b>
                <%=lenMovies%>
            </b>
            <h1>PELICULAS</h1>
        </div>
    </div>
</div>