<footer>
    <b><i class="bi bi-c-circle"></i> <script>document.write(new Date().getFullYear())</script> Todos los derechos reservados BoomMo</b>
    <div>
        <p>Hecho con ❤️ por:</p>
        <ul>
            <li>Alex Navarro</li>
            <li>Hernán Negrete</li>
            <li>José Martínez</li>
            <li>Luis Vilaro</li>
        </ul>
    </div>
</footer>