<div id="navbar" class="navbar">
    <div class="navbar-container">
      <div class="icon-container">
        <i class="bx bxs-bomb"></i>
      </div>
      <div class="logo-container">
        <h1 class="logo">BoomMo</h1>
      </div>
      <div class="menu-container">
        <ul class="menu-list">
          <li><a href="/admin/dashboard" class="menu-list-item ">Dashboard</a></li>
          <li><a href="/admin/peliculas" class="menu-list-item">Peliculas</a></li>
        </ul>
      </div>
      <div class="profile-container">
        <i class="bx bxs-user"></i>
        <div class="profile-text-container">
            <span class="profile-text">
              <%= name ? name : "" %>
            </span>
        </div>
      </div>
    </div>
  </div>
  <ul id="list-modal">
    <li>
      <a href="/users/perfil">
        <i class="fas fa-user"></i>
        <span>
          CUENTA
        </span>
      </a>
    </li>
    <li><a href="/logout">
      <i class="fas fa-sign-out-alt"></i>
      <span>
        SALIR
      </span>
    </a></li>
  </ul>
  <script>
    const listModal = document.querySelector("#list-modal");
    const profileContainer = document.querySelector(".profile-container");
    profileContainer.addEventListener("click", e => {
      const etarget = e.target
      const targetClass = etarget.className
      if (targetClass.includes("fa-caret-down")) {
        etarget.classList.replace("fa-caret-down","bi-caret-up-fill")
        listModal.style = "display: block"
      }
      if (targetClass.includes("bi-caret-up-fill")) {
        etarget.classList.replace("bi-caret-up-fill","fa-caret-down")
        listModal.style = "display: none"
      }
    });
    
  </script>