<div class="featured-content">
    <h1 id="featured-title"></h1>
    <div class="container-featured-descp">
        <p id="featured-desc"></p>
    </div>
    <div id="featured-container-btn">
        <a href="" class="featured-button">
            <i class="bi bi-play-circle"></i>
        </a>
    </div>
</div>